@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.Navbar {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 10%;
}

.Navbar h1 {
  font-size: 36px;
}

.Navbar a {
  padding: 2px;
  height: 20px;
  text-decoration: none;
  color: #fff;
  background: #333;
  border: 5px solid #000;
  border-radius: 5px;
}

.Title {
  padding: 7%;
}

